<div class="flex h-screen">
  {{> sidebar}}
  <main class="flex-1 p-4 bg-gray-100 dark:bg-zinc-800">
    <div class="grid grid-cols-9 items-center">
      <div>
        <h1 class="font-sans text-3xl font-semibold text-white">Applications</h1>
      </div>
      <div class="col-start-2 col-span-8">
        <button
          class="flex px-6 py-1 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-stone-950 rounded-lg hover:bg-stone-800 focus:outline-none focus:ring focus:ring-stone-700 focus:ring-opacity-80">
          <svg class="w-5 h-5 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
              clip-rule="evenodd" />
          </svg>
          <span class="mx-1">Add</span>
        </button>
      </div>
    </div>
    <div class="container mx-auto py-8">
      <div class="grid grid-cols-6 gap-4">
        <div class="h-40 bg-red-500">asdsad</div>
        <div class="h-40 bg-red-500">asdsad</div>
      </div>
    </div>
  </main>
</div>